extends ../layout

block styles
  -if (process.env.NODE_ENV == 'production')
    link(type="text/css", rel="stylesheet", href="/dist/Teach4Tech-admin.0.0.1.min.css")
  -else 
    <!-- build:css /tmp/combined-admin.css -->
    link(type="text/css", rel="stylesheet", href="/styles/admin.css")
    <!-- endbuild -->

block scripts
  -if (process.env.NODE_ENV == 'production')
    script(src="/dist/Teach4Tech-admin.0.0.1.min.js")
  -else 
    <!-- build:js /tmp/combined-admin.js -->
    script(src='/components/angular/angular.js')
    script(src='/components/angular-ui-router/release/angular-ui-router.js')
    script(src='/js/admin/app.js')
    <!-- endbuild -->
  


block content
  div(ng-app="Teach4Tech.Admin")
    h1 Админка
    ul.nav.nav-pills
      li.active(role='presentation')
        a(ui-sref='statistics') Статистика
      li(role='presentation')
        a(ui-sref='uploadVideo') Загрузить новое видео
      li(role='presentation')
        a(ui-sref='messages') Сообщения

    div(ui-view="")

//  a(href='/admin/uploadVideo') Загрузить новое видео
  h1 BinaryJS File Upload and Streaming
  section#main
    fieldset
      legend Drag n Drop
      aside#upload-box
        article#progress Drop file here
    fieldset
      legend Select a Link
      nav#list.left
    fieldset
      legend Play the Video
      section.left
        video#video
//
