extends ../layout

block styles
  -if (process.env.NODE_ENV == 'production')
    link(type="text/css", rel="stylesheet", href="/dist/Teach4Tech-admin.0.0.1.min.css")
  -else 
    <!-- build:css /tmp/combined-admin.css -->
    link(type="text/css", rel="stylesheet", href="/styles/admin.css")
    <!-- endbuild -->

block scripts
  -if (process.env.NODE_ENV == 'production')
    script(src="/dist/Teach4Tech-admin.0.0.1.min.js")
  -else 
    <!-- build:js /tmp/combined-admin.js -->
    script(src='/js/admin/controllers/_mainCtrl.js')
    script(src='/js/admin/controllers/videoListCtrl.js')
    script(src='/js/admin/controllers/videoEditCtrl.js')
    script(src='/js/admin/controllers/videoAddCtrl.js')
    script(src='/js/admin/viewmodels/_mainVm.js')
    script(src='/js/admin/viewmodels/videoListVm.js')
    script(src='/js/admin/directives/_mainDir.js')
    script(src='/js/admin/directives/menuDir.js')
    script(src='/js/admin/app.js')
    <!-- endbuild -->
  


block content
  div(ng-app="Teach4Tech.Admin")
    h2 Админка
    ul.nav.nav-pills(menu="")

    div(ui-view="")
