div#main_footer.row
  p.copyright.text-center.text-muted Designed with&nbsp;
    span.glyphicon.glyphicon-heart-empty
    |&nbsp;by&nbsp;
    a(href="https://github.com/Grievoushead") Sergey Kozachenko
    |&nbsp;in Ukraine. Online: #{online}&nbsp;beautiful learner.
