nav#main_menu.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
          a.navbar-brand(href='../')
              | Teach
              span.glyphicon.glyphicon-flash
              | Tech
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='../blog/') Articles
            li
              a(href='../course/') Lessons
            li
              a(href='../course/') Courses
            li
              a(href='../about/') About
          ul.nav.navbar-nav.navbar-right
            li
              ul.nav.navbar-nav
                li.dropdown
                  -if (isLoggedIn)
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                      | #{userName}
                      span.caret
                     ul.dropdown-menu
                       li
                         a(href='/profile') My Profile
                       li
                         a(href='/course') My Courses
                       li
                         a(href='/admin') Admin Panel
                       li.divider
                       li
                         a(href='/auth/logout') Sign Out
                  -else
                    a(href='/auth/login')
                      | Sign In
