html
  head
    title!=title
    block styles 
     -if (process.env.NODE_ENV == 'production')
        link(type="text/css", rel="stylesheet", href="dist/Teach4Tech.0.0.1.min.css")
     -else 
        link(type="text/css", rel="stylesheet", href="styles/main.css")
  body
    block content
    
    block scripts
     -if (process.env.NODE_ENV == 'production')
        script(src="dist/Teach4Tech.0.0.1.min.js")
     -else 
        script(src="js/main.js")