html
  head
    title!=title
    -if (process.env.NODE_ENV == 'production')
      link(type="text/css", rel="stylesheet", href="/dist/Teach4Tech-main.0.0.1.min.css")
    -else 
      <!-- build:css /tmp/combined-main.css -->
      link(type="text/css", rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.css")
      link(type="text/css", rel="stylesheet", href="/styles/main.css")
      <!-- endbuild -->
    block styles 
  body
    include partials/menu
    #main_wrapper.container
      block content
      -if (process.env.NODE_ENV == 'production')
        script(src="/dist/Teach4Tech-main.0.0.1.min.js")
      -else 
        <!-- build:js /tmp/combined-main.js -->
        script(src="/components/jquery/dist/jquery.js")
        script(src="/components/bootstrap/dist/js/bootstrap.js")
        script(src='/vendor/binary.js')
        script(src="/js/main.js")
        <!-- endbuild -->
      block scripts