html
  head
    title!=title
    -if (process.env.NODE_ENV == 'production')
      link(type="text/css", rel="stylesheet", href="/dist/Teach4Tech-vendor.0.0.1.min.css")
      link(type="text/css", rel="stylesheet", href="/dist/Teach4Tech-main.0.0.1.min.css")
      link(type="text/css", rel="stylesheet", href="/styles/fonts.css")
    -else
      <!-- build:css /tmp/combined-vendor.css -->
      link(type="text/css", rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.css")
      link(type="text/css", rel="stylesheet", href="/components/jsdatagrid/src/styles/kendo.common.css")
      link(type="text/css", rel="stylesheet", href="/components/jsdatagrid/src/styles/kendo.metro.css")
      link(type="text/css", rel="stylesheet", href="/styles/jsdatagrid-overrides.css")
      <!-- endbuild -->
      <!-- build:css /tmp/combined-main.css -->
      link(type="text/css", rel="stylesheet", href="/styles/main.css")
      link(type="text/css", rel="stylesheet", href="/styles/fonts.css")
      <!-- endbuild -->
    block styles
  body
    include partials/menu
    #main_wrapper.container
      block content
    include partials/footer
      -if (process.env.NODE_ENV == 'production')
        script(src="/dist/Teach4Tech-main.0.0.1.min.js")
      -else
        <!-- build:js /tmp/combined-main.js -->
        script(src="/components/jquery/dist/jquery.js")
        script(src="/components/bootstrap/dist/js/bootstrap.js")
        script(src='/components/jsdatagrid/src/js/kendo.web.js')
        script(src='/components/jsdatagrid/src/js/cultures/kendo.culture.ru-RU.js')
        script(src='/vendor/binary.js')
        script(src="/js/main.js")
        script(src='/components/angular/angular.js')
        script(src='/components/angular-ui-router/release/angular-ui-router.js')
        script(src="/js/common/directives/jsdatagrid.js")
        script(src="/js/common/directives/dragAndDrop.js")
        script(src="/js/common/services/utils.js")
        script(src="/js/common/services/binaryClient.js")
        <!-- endbuild -->
      block scripts
