extends ../layout

block content
  #page-home
    .page_content
      .jumbotron
        h1 Ahoy, Learner!
        p Feel free to use all these goodies selected and prepared for you!
          br
          | You can start with watching hot stuff videos or reading extra useful articles
          | about cutting edge technologies.
        p
          a.btn.btn-warning.btn-lg(href="#") Learn more
