@import 'login.less';
@import url(http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);

body {
	font-family: 'Comfortaa', cursive;
}

#main_wrapper {
	margin-top: 50px;
	font-size: 14px;
}


