<div class="video-add-page col-lg-12">
	<h3><span class="glyphicon glyphicon-film"></span>&nbsp;&nbsp;Add New Lesson</h3>
	<hr/>

	<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>



	 <div id="main" class="row">
	    <div class="col-lg-6">
	        <legend>Add Video</legend>
	        <aside id="upload-box" drop-handler="vm.onVideoDropped(data)">
	            <article id="progress">Drop video here!</article>
	        </aside>
	    </div>

	    <div class="col-lg-6">
	        <legend>Video Preview</legend>

	        <video id="video"></video>
	    </div>
	</div>

	<div class="clearfix"></div>
	<br>
	<br>

	<div class="col-lg-6">
		<form role="form">
		 <h3>Save Lesson</h3>
		 <hr/>

		 <div class="form-group">
		    <label for="name">Title:</label>
		    <input id="name" type="text" class="form-control" placeholder="Title" ng-model="vm.model.title">
		  </div>

		  <div class="checkbox">
		    <label>
		      <input type="checkbox" ng-model="vm.model.hidden"> Hide ?
		    </label>
		  </div>
		  <div class="clearfix"></div>
		  <br>
		  <button type="button" class="btn btn-success" ng-click="vm.save()">Save</button>
		  <button type="button" class="btn btn-danger" ng-click="vm.remove()">Delete</button>

		</form>
	</div>
</div>

<!-- Templates -->
<script type="text/ng-template" id="videoUploadProgress">
	<p>{{vm.pc}} % done!</p>
</script>
